name: Unstable

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 5 * * *'
  release:
    types:
      - released
jobs:
  ci:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro: [focal, jammy]
    container:
      image: ghcr.io/tesseract-robotics/tesseract_planning:${{ matrix.distro }}-master
      env:
        CCACHE_DIR: "$GITHUB_WORKSPACE/${{ matrix.distro }}/.ccache"
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: target_ws/src

      - name: Install Depends
        shell: bash
        run: |
          apt update
          apt upgrade -y
          apt install -y wget qt-advanced-docking-system
          cd $GITHUB_WORKSPACE/target_ws/src
          ./.add-gazebo-ppa
          apt install -y libgz-rendering7-dev libgz-common5-dev libgz-math7-dev

      - name: Build and Tests
        uses: tesseract-robotics/colcon-action@v2
        with:
          before-script: source /opt/tesseract/install/setup.bash && source /opt/tesseract_planning/install/setup.bash
          ccache-prefix: ${{ matrix.distro }}
          vcs-file: dependencies_unstable.repos
          upstream-args: --cmake-args -DCMAKE_BUILD_TYPE=Release
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Debug -DTESSERACT_ENABLE_TESTING=ON
